[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Freemind
Name[es]=Mapas mentales FreeMind
GenericName=Freemind
Icon=style
Exec=freemind
Categories=Application;Office;
