[Desktop Entry]
Version=1.0
Terminal=false
Icon=ooo-gulls
Type=Application
Categories=Office;
Exec=ooffice %U
MimeType=application/vnd.openofficeorg.extension
Name=OpenOffice.org 
GenericName=Office 
GenericName[en]=Office
GenericName[ar]=مكتب
GenericName[as_IN]=অফিচ 
GenericName[be_BY]=Офіс
GenericName[bg]=Офис пакет
GenericName[bn]=অফিস
GenericName[ca]=Oficina
GenericName[cs]=Kancelář
GenericName[da]=Kontor
GenericName[de]=Office
GenericName[el]=Office
GenericName[en_GB]=Office
GenericName[es]=Office
GenericName[et]=Kontoritöö
GenericName[eu]=Bulegoa
GenericName[fi]=Toimisto
GenericName[fr]=Bureautique
GenericName[ga]=Oifig
GenericName[gl]=Oficina
GenericName[gu]=ઓફિસે
GenericName[hi_IN]=ऑफ़िस
GenericName[hu]=Iroda
GenericName[id]=Perkantoran
GenericName[it]=Ufficio
GenericName[ja]=Office
GenericName[km]=ការិយាល័យ
GenericName[kn_IN]=ಕಛೇರಿ
GenericName[ko]=오피스
GenericName[lt]=Raštinės programos
GenericName[mk]=Канцеларија
GenericName[mr_IN]=ऑफिस
GenericName[nb]=Kontor
GenericName[nl]=Kantoor
GenericName[nn]=Kontor
GenericName[oc]=Burotica
GenericName[pa_IN]=ਆਫਿਸ
GenericName[pl]=Biuro
GenericName[pt]=Escritório
GenericName[pt_BR]=Office
GenericName[ro]=Birou
GenericName[ru]=Офис
GenericName[sh]=Kancelarija
GenericName[sk]=Kancelária
GenericName[sl]=Pisarniški paket
GenericName[sr]=Канцеларија
GenericName[sv]=Kontor
GenericName[ta]=அலுவலகம்
GenericName[te_IN]=కార్యలయం
GenericName[tr]=Ofis
GenericName[uz]=Ofis
GenericName[vi]=Văn phòng 
GenericName[zh_CN]=办公室
GenericName[zh_TW]=辦公室
Comment=The office productivity suite compatible to the open and standardized ODF document format.
Comment[en]=The office productivity suite compatible to the open and standardized ODF document format.
Comment[ar]=تتوافق مجموعة إنتاجية office مع تنسيق المستند ODF المفتوح والقياسي. تدعمها شركةSun Microsystems.
Comment[as_IN]=কাৰ্য্যলয়ৰ উৎপাদনৰ দল মুক্ত আৰু মানপ্ৰাপ্ত ODF ডকুমেন্ট আকৃতিৰ সৈতে মিল । Sun Microsystems এৰে সমৰ্থিত ।
Comment[be_BY]=Набор праграм офіснай прадукцыйнасці, сумяшчальны з адкрытым і стандартызаваным фарматам файлаў ODF. Падтрымліваецца кампаніяй ''Sun Microsystems''.
Comment[bg]=Офис пакетът, съвместим с отворения и стандартизиран формат за документи ODF. Поддържан от Sun Microsystems.
Comment[bn]=অফিস প্রোডাক্টিভিটি স্যুট, উন্মুক্ত এবং আদর্শ ODF নথি ফরম্যাটের উপযুক্ত। সান মাইক্রোসিস্টেম দ্বারা সমর্থিত।
Comment[ca]=El paquet ofimàtic compatible amb el format de document obert i estandarditzat ODF. Amb el suport de Sun Microsystems.
Comment[cs]=Kancelářský balík kompatibilní s otevřeným a standardizovaným formátem ODF. Podporováno Sun Microsystems.
Comment[da]=Kontorproduktivitetspakken er kompatibel med det åbne og standardiserede ODF dokumentformat. Understøttet af Sun Microsystems.
Comment[de]=Die Office-Suite für das offene und standardisierte ODF Dokumentformat. Unterstützt von Sun Microsystems.
Comment[el]=Η σουίτα εφαρμογώ γραφείου συμβατή με την ανοικτή και τυποποιημένη μορφή εγγραφών ODF. Υποστηρίζεται από την Sun Microsystems.
Comment[en_GB]=The office productivity suite compatible to the open and standardised ODF document format.
Comment[es]=La suite ofimática compatible con el formato abierto y standard ODF. Mantenido por Sun Microsystems.
Comment[et]=Bürootarkvara komplekt, mis ühildub avatud ja standardiseeritud ODF-dokumendivorminguga. Toetab Sun Microsystems.
Comment[eu]=ODF dokumentu formatu ireki eta estandarrarekin bateragaria den bulegotikako suitea. Sun Microsystem-ek sustatuta.
Comment[fi]=Avoimen ODF-asiakirjastandardin kanssa yhteensopiva toimisto-ohjelmisto. Sun Microsystemsin tukema.
Comment[fr]=La suite de productivité bureautique compatible avec le format de document ODF ouvert et normalisé. Supportée par Sun Microsystems.
Comment[ga]=Sraith feidhmchlár le haghaidh táirgiúlachta oifige atá comhoiriúnach don fhormáid oscailte chaighdeánach ODF. Tacaíonn Sun Microsystems leis.
Comment[gl]=A suite de produtividade de oficina compatíbel co formato de documentos estándar e aberto ODF. Soportado por Sun Microsystems.
Comment[gu]=ઓફિસ ઉત્પાદકતા અનૂકુળતા ખોલવા અને નિશ્ચિત થયેલ ODF દસ્તાવેજ બંધારણ ને સુસંગત છે. Sun Microsystems દ્રારા આધારભૂત છે.
Comment[hi_IN]=यह ऑफ़िस उत्पादकता सूट खुले व मानक ओडीएफ दस्तावेज़ प्रारूप के सुसंगत है. सन माइक्रो सिस्टम द्वारा समर्थित.
Comment[hu]=Az irodai programcsomag kompatibilis a nyílt és a szabványosított ODF dokumentumformátummal. A Sun Microsystems támogatja.
Comment[id]=Aplikasi produktivitas perkantoran kompatibel dengan format dokumen terbuka dan terstandarisasi ODF. Didukung oleh Sun Microsystems.
Comment[it]=La suite di produttività per l'ufficio compatibile con il formato standard aperto ODF. Supportata da Sun Microsystems.
Comment[ja]=オープンで標準化された ODF ドキュメント形式対応の統合オフィスツール。Sun Microsystems によってサポートされています。
Comment[km]=ឈុត​ផលិតផល​ការិយាល័យ ឆប​គ្នា​នឹង​ទ្រង់ទ្រាយ​ឯកសារ ODF ។ គាំទ្រ​ដោយ​ប្រព័ន្ធ Sun Microsystems ។
Comment[kn_IN]=ಆಫೀಸ್ ಪ್ರೊಡಕ್ಟಿವಿಟಿ ಸೂಟ್‌ ಮುಕ್ತ ಹಾಗೂ ಶಿಷ್ಟ ODF ದಸ್ತಾವೇಜು ಶೈಲಿಗೆ ಸರಿಹೊಂದುತ್ತದೆ. ಸನ್ ಮೈಕ್ರೋಸಿಸ್ಟಮ್‌ನವರಿಂದ ಬೆಂಬಲಿತವಾಗಿದೆ.
Comment[ko]=이 오피스 생산성 스위트 프로그램은 Sun Microsystems 의 지원을 받으며 공개 표준 ODF 문서 형식과 호환됩니다.
Comment[lt]=Raštinės programų rinkinys, suderinamas su standartizuotu ODF dokumentų formatu. Remiamas „Sun Microsystems“.
Comment[mk]=Канцелариски пакет компатибилен со отворениот и стандардизиран формат за документи ODF. Поддржано од Sun Microsystems.
Comment[mr_IN]=ओपन व प्रमाणीत ODF दस्तऐवज स्वरूपशी सहत्व ऑफिस उपयुक्तता संच. Sun Microsystems द्वारे समर्थीत.
Comment[nb]=En kontorpakke som bruker det åpne og standardiserte dokumentformatet ODF. Støttet av Sun Microsystems.
Comment[nl]=Het kantoorpakket dat compatibel is met de open en gestandaardiseerde ODF documentindeling. Ondersteund door Sun Microsystems.
Comment[nn]=Kontorpakken som er tilpassa det opne og standardiserte dokumentformatet ODF. Sun Microsystems gjev støtte til pakken.
Comment[oc]=La seguida de productivitat burotica compatibla amb lo format de document ODF dobert e normalizat. Suportada per Sun Microsystems.
Comment[pa_IN]=ਦਫ਼ਤਰ ਪਰੋਡੈਕਟਵਿਟੀ ਸੂਟ ਓਪਨ ਅਤੇ ਸਟੈਂਡਰਡ ODF ਡੌਕੂਮੈਂਟ ਫਾਰਮੈਟ ਨਾਲ ਅਨੁਕੂਲ ਹੈ। ਸਨ ਮਾਈਕਰੋਸਿਸਟਮ ਵਲੋਂ ਸਹਿਯੋਗ ਪ੍ਰਾਪਤ।
Comment[pl]=Pakiet programów biurowych zgodnych z otwartym i ustandaryzowanym formatem dokumentów ODF. Produkt rozwijany i obsługiwany przez firmę Sun Microsystems.
Comment[pt]=O pacote de produtividade de escritório compatível para o formato de documento ODF aberto e estandardizado. Suportado pela Sun Microsystems.
Comment[pt_BR]=A suíte de escritório compatível com o formato de documento ODF, aberto e padronizado. Com suporte da Sun Microsystems.
Comment[ro]=Suita de productivitate pentru birou compatibilă cu formatul deschis și standardizat ODF. Sprijinită de Sun Microsystems.
Comment[ru]=Офисный пакет, совместимый с открытым и стандартизованным форматом документов ODF. При поддержке Sun Microsystems.
Comment[sh]=Kancelarijski paket saglasan s standardizovanim otvorenim dokument-formatom. Podržan od strane kompanije Sun Microsystems.
Comment[sk]=Kancelásky balík kompatibilný s otvoreným a štandardizovaným formátom dokumentov ODF. Podporovaný Sun Microsystems.
Comment[sl]=Pisarniški paket, kompatibilen z odprto in standardizirano vrsto dokumentov ODF. Podprt s strani podjetja Sun Microsystems.
Comment[sr]=Канцеларијски пакет сагласан с стандардизованим отвореним документ-форматом. Подржан од стране компаније Sun Microsystems.
Comment[sv]=Kontorsprogramsviten som är kompatibel med det öppna, standardiserade dokumentformatet ODF. Stöds av Sun Microsystems.
Comment[ta]=அலுவலக உட்பத்தித்திறன் தொகுதி, திறந்த தரமான ODF ஆவண வடிவமைப்பைக் கொண்டது. சன் மைக்ரோசிஸ்டம்சால் ஆதரிக்கப்படுவது.
Comment[te_IN]=మరియు దాని బట్టి సూర్యుడు.
Comment[tr]=Ofis verimlilik yazılım paketi açık ve standart haline gelmiş ODF belge biçimiyle uyumludur. Sun Microsystems tarafından desteklenmektedir.
Comment[uz]=Ofis paketi ochiq va andoza ODF formati bilan uygʻundir. Sun Microsystems tomonidan qoʻllab-quvvatlanadi.
Comment[vi]=Bộ phần mêm văn phòng này tương thích với định dạng tài liệu mở và được chuẩn hóa ODF - được hỗ trợ bởi Sun Microsystems.
Comment[zh_CN]=该办公套件产品与开放的、标准化的 ODF 文档格式兼容。由 Sun Microsystems 支持。
Comment[zh_TW]=與開放式標準 ODF 文件格式相容的辦公室套裝軟體。Sun Microsystems 贊助。
