[Desktop Entry]
Name=BitTorrent Download Client
Name[es]=Gestor de descargas Torrent
Comment=Download files with BitTorrent
Comment[de]=Dateien mit BitTorrent herunterladen
Comment[fr]=Télécharger des fichiers avec BitTorrent
Comment[sv]=Ladda ner filer med BitTorrent
Exec=gnome-btdownload
Terminal=false
Type=Application
StartupNotify=true
Icon=download
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;
