[Desktop Entry]
Name=XScreenSaver Setup
Name[es]=Configuración del salvapantallas XScreenSaver
Exec=xscreensaver-demo
Icon=xscreensaver
Terminal=false
StartupNotify=true
Type=Application
Categories=System;
