Source: canaima-estilo-visual-gnome
Section: misc
Priority: optional
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 7.0.50~), devscripts, imagemagick, libmagickcore3-extra
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-estilo-visual-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-estilo-visual-gnome/trees/master

Package: canaima-estilo-visual-gnome
Architecture: all
Depends:	python-gtk2,
		gtk2-engines (>= 1:2.20),
		gtk2-engines-pixbuf,
		gtk2-engines-equinox,
		canaima-estilo-visual-iconos-gnome (>= 3.1),
		canaima-plymouth,
		canaima-salvapantalla,
		canaima-escritorio-gnome (>= 3.1),
		${shlibs:Depends},
		${misc:Depends}
Pre-Depends: gdm3
Recommends: burg, canaima-mod-burg
Conflicts: canaima-estilo-visual (<< 3.1), gnome-themes (<< 3)
Replaces: canaima-estilo-visual (<< 3.1), gnome-themes  (<< 3)
Provides: canaima-estilo-visual, gnome-themes
Description: Estilo visual de Canaima para GNOME
 Este paquete provee el estilo visual (tema de GTK, metacity,
 fondos de escritorio y BURG) para Canaima GNU/Linux.

Package: canaima-estilo-visual
Architecture: all
Depends: canaima-estilo-visual-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Description: Paquete transicional canaima-estilo-visual -> canaima-estilo-visual-gnome
 Esto es un paquete transicional para que los usuarios puedan
 actualizar de canaima-estilo-visual a canaima-estilo-visual-gnome sin muchos
 problemas. Puede ser removido.

Package: gnome-themes
Architecture: all
Depends: canaima-estilo-visual-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Description: Paquete transicional gnome-themes -> canaima-estilo-visual-gnome
 Esto es un paquete transicional para que los usuarios puedan
 actualizar de gnome-themes a canaima-estilo-visual-gnome sin muchos
 problemas. Puede ser removido.

